/* Estilos gerais */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para o modo noturno */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.container {
    width: 70%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 auto;
    justify-content: center;
    position: relative; /* Adicione esta propriedade para que o posicionamento absoluto seja relativo a .container */
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.textarea-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.input-wrapper {
    flex: 1;
    margin: 5px;
    margin-right: 25px;
}

.input-label-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

label {
    font-size: 16px;
}

textarea {
    width: 90%;
    height: 80%;
    height: 400px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000; /* Definir cor do texto do textarea para o modo claro */
    background-color: #fff; /* Definir cor de fundo do textarea para o modo claro */
}

/* Adiciona margem entre as caixas de texto */
/*.input-wrapper:nth-child(2) {
    margin-right: 20px;
}

.input-wrapper:nth-child(1) {
    margin-right: 50px;
}*/
.slider-wrapper {
    /* Estilos adicionais para o botão slider */
    justify-content: center;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(192, 50, 50);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: relative; /* Altere para posicionamento relativo */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px; /
}


.slider-wrapper.blue {
    background-color: rgb(26, 26, 157);
}

label {
    margin-bottom: 5px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #ccc;
    outline: none;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Botão de alternar o modo noturno */
.toggle-dark-mode {
    position: fixed;
    bottom: 20px;
    left: 50%; /* Centralize horizontalmente */
    transform: translateX(-50%); /* Mova para a esquerda, a metade da sua própria largura */
    display: flex;
    align-items: center;
    cursor: pointer;
}


.toggle-dark-mode input {
    display: none;
}

.toggle-dark-mode label {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    margin: 10px
}

.toggle-dark-mode label:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

/* Estilos para o modo noturno */
.toggle-dark-mode input:checked + label {
    background-color: #2a2a2a;
}

/* Estilos para o modo noturno */
.toggle-dark-mode input:checked + label:before {
    transform: translateX(20px);
}

/* Estilos para o modo noturno do textarea */
body.dark-mode textarea {
    color: #f4f4f4; /* Cor do texto para o modo noturno */
    background-color: #4b4949; /* Cor de fundo para o modo noturno */
}
body.dark-mode .container {
    color: #f4f4f4; /* Cor do texto para o modo noturno */
    background-color: #4b4949; /* Cor de fundo para o modo noturno */
}

