<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_mobile.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Conversor de Código</title>
</head>
<body class="dark-mode">
    <div class="container">
        <h1>Conversor de Código</h1>
        <div class="input-wrapper">
            <textarea id="inputCode" placeholder="Insira o código aqui" rows="7"></textarea>
        </div>
        <div class="input-wrapper">
            <textarea id="outputCode" placeholder="Código convertido será exibido aqui" rows="7" readonly></textarea>
        </div>

        <div class="slider-wrapper" onclick="toggleText()">Visualg para C</div>
        
        <button id="convertButton">Converter</button>

        <!-- Botão para alternar o modo noturno -->
        <div class="toggle-dark-mode">
            <input type="checkbox" id="darkModeToggle" checked>
            <label for="darkModeToggle"></label>
            <span>Modo Noturno</span>
        </div>
    </div>

    <script>
        function toggleText() {
            var button = document.querySelector('.slider-wrapper');
            if (button.innerHTML === 'Visualg para C') {
                button.innerHTML = 'C para Visualg';
                button.classList.add('blue');
            } else {
                button.innerHTML = 'Visualg para C';
                button.classList.remove('blue');
            }
        }
    
        function convertCode() {
            var inputCode = document.getElementById('inputCode').value;
            var conversionType = getConversionTypeFromButton();
    
            var data = {
                codigo: inputCode,
                conversionType: conversionType === 0 ? 'visualgToC' : 'cToVisualg'
            };
    
            fetch('/converter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                var outputCode = document.getElementById('outputCode');
                outputCode.value = data.convertedCode;
            })
            .catch(error => {
                console.error('Erro ao converter código:', error);
            });
        }
    
        function getConversionTypeFromButton() {
            var button = document.querySelector('.slider-wrapper');
            var buttonText = button.innerHTML;
            if (buttonText === 'Visualg para C') {
                return 0;
            } else if (buttonText === 'C para Visualg') {
                return 1;
            } else {
                return -1;
            }
        }
    
        document.getElementById('convertButton').addEventListener('click', convertCode);
    
        // Adicionar a função para alternar o modo noturno
        document.getElementById('darkModeToggle').addEventListener('change', function() {
            const body = document.body;
            body.classList.toggle('dark-mode');
        });
    </script>
</body>
</html>
